.NavBar {
    background-color: #000000;
    border-bottom: 1px solid #dadadf;
  }

span {
    color: #FFFFFF;
  }

  .NavLink {
    padding: 5px;
    color: #FFFFFF;
  }

  .NavLink:hover {
    color: #FFA500;
  }


  .Active i {
    color: #FFA500;
  }