.FullProfile {
  background-color: black;
  color: white;
}

.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }

.SubButton {
    background-color: orange;
    color: black;
    border: 1px solid white;
}

.UnsubButton {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.SubButton:hover {
    outline: none;
    box-shadow: 0 0 10px 2px orange;
    border-color: orange;
    background-color: orange;
    color: black;
}

.UnsubButton:hover {
    outline: none;
    box-shadow: 0 0 10px 2px orange;
    border-color: orange;
    color: black;
    border: 1px solid white;
    background-color: white;
}