.WordBreak {
    word-break: break-all;
  }

  .SubButton {
    background-color: orange;
    color: black;
    border: 1px solid white;
    transform: scale(0.8);
}

.UnsubButton {
    background-color: white;
    color: black;
    border: 1px solid white;
    transform: scale(0.8);
}

.SubButton:hover {
    outline: none;
    box-shadow: 0 0 10px 2px orange;
    border-color: orange;
    background-color: orange;
    color: black;
    transform: scale(0.8);
}

.UnsubButton:hover {
    outline: none;
    box-shadow: 0 0 10px 2px orange;
    border-color: orange;
    color: black;
    border: 1px solid white;
    background-color: white;
    transform: scale(0.8);
}